.env
EVETEC_ASPIRADORA_ESP32_4848S040/.arduino15-esp32-2.0.17/
EVETEC_ASPIRADORA_ESP32_4848S040/.venv-platformio/
EVETEC_ASPIRADORA_ESP32_4848S040/.pio/
EVETEC_ASPIRADORA_ESP32_4848S040/.vscode/
EVETEC_ASPIRADORA_ESP32_4848S040/build/*.elf
EVETEC_ASPIRADORA_ESP32_4848S040/build/*.map
EVETEC_ASPIRADORA_ESP32_4848S040/lib/Arduino_GFX/.github/
EVETEC_ASPIRADORA_ESP32_4848S040/lib/Arduino_GFX/examples/
EVETEC_ASPIRADORA_ESP32_4848S040/lib/QRCode/examples/
EVETEC_ASPIRADORA_ESP32_4848S040/lib/QRCode/tests/
EVETEC_ASPIRADORA_ESP32_4848S040/lib/QRCode/README.md
EVETEC_ASPIRADORA_ESP32_4848S040/lib/QRCode/keywords.txt
